# =========================
# Maven / Java
# =========================
target/
!.mvn/wrapper/maven-wrapper.jar

# Allow target inside src (rare cases)
**/src/main/**/target/
**/src/test/**/target/

# =========================
# IDEs
# =========================

## IntelliJ / WebStorm / etc
.idea/
*.iml
*.iws
*.ipr
*.UI/
## Eclipse / STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

## NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

## VS Code
.vscode/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Environment & Secrets
# =========================
.env
secrets.properties
secrets-*.properties
.env.local
.env.*.local
*.secrets

# =========================
# Misc
# =========================
HELP.md
/uploads/
/logs/**